attrs==19.3.0
bottle==0.12.18
certifi==2020.6.20
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
conan==1.24.1
deprecation==2.0.7
distro==1.1.0
fasteners==0.15
Fiona==1.8.13.post1
geopandas==0.8.1
idna==2.8
monotonic==1.5
munch==2.5.0
node-semver==0.6.1
numpy==1.19.1
pandas==1.1.0
patch-ng==1.17.4
pluginbase==0.7
PyJWT==1.7.1
pyproj==2.6.1.post1
python-dateutil==2.8.1
pytz==2020.1
Shapely==1.7.0
six==1.15.0
